body{
  background: lightpink;
}
.app h1 span{
  color: cyan;
  text-shadow: 0px 0px 5px black;
}

.post-list{
  list-style: none;
  padding: 0;
  display: inline-block;
}

.post-list li{
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}